
#form {
    font-family: orbitron, sans-serif;
    font-weight: bold;
    width: 20%;
    font-size: 85%;
    background-color: rgb(80, 80, 80);
    height: 256px;
    min-width: 128px;
    position: fixed;
    bottom: 16px;
    left: 0;
    border: 2px solid darkslategray;
}
#form h3{
    font-family: orbitron, sans-serif;
}
#form #msg{
    height: 5em;
}