
		/* basic setup */
		* {
			margin: 0;
			padding: 0; }
		html { background-image: url(/img/noiseTexturelight2.png); }

		
		/* the styles for the header, main content, sidebar, and footer */
		header { border-bottom: 2px solid black; }

		main {
			position:absolute;
			right: 16px;
			
			clear: both;
			margin: 15px auto;
			border: 1px solid black; 
			height: 1000px;
				width: auto;
				clear: both;
				background-image: url(/img/noiseTexturedark.png);	
			}
			
		.content {
			position:absolute;
			right: 1px;
			top: 3.5em;
			width: 78%;
		}

		body main h2 {
			background-color: rgb(86, 123, 158);
			padding: .25em;
			font-family: C64Pro, sans-serif;
			border: 3px solid slategray;
			text-align: center;
			margin:0 3em 0;
		}

		body main p {
			background-color: rgb(67, 149, 182);
			position: relative;
			border: 3px solid slategray;
			margin:0 4.5em 0;
			font-family: ubuntu, sans-serif;
		}

		/* footer */
		footer {
			clear: both;
			border-top: 2px solid #ef9c00; }
	